.main {
  background: rgba(255, 255, 255, .92);
}
.login-page-left {
  background: #ccc;
}
.login-page-right {
  background: #fff;
}
.login-bar {
  background: #eee;
}
.login-win {

}
.login-win-line .el-input {
  border-bottom: 2px solid #ccc;
}
.login-win-line .el-input:hover {
  border-bottom: 2px solid #999;
}
.login-win-line .el-button {
  background: #ccc;
  color: #333;
}
.login-win-line .el-button:hover {
  background: #999;
  color: #fff;
}
.head-bar {
  background: rgba(0, 0, 0, .92);
}
.footer-bar {
  background: rgba(0, 0, 0, .82);
}
.intro-bar {
  background: rgba(255, 255, 255, 0);
}
.landscape-bar {
  background: #ccc;
}
.landscape-bar .bar-title {
  color: #000;
}
.landscape-bar .bar-sub-title {
  color: #333;
}
.landscape-bar .bar-link {
  color: #06c;
}
.portrait-bar {
  background: #ddd;
}
.portrait-bar .bar-title {
  color: #000;
}
.portrait-bar .bar-sub-title {
  color: #333;
}
.portrait-bar .bar-link {
  color: #06c;
}
.split-landscape-bar {

}
.split-portrait-bar {

}
